<div class="container">
    <div class="row text-center">
        <h1>About me:</h1>
    </div>
    <div class="row">
        <p>Once again, thank you to little Marzipan and her wonderful clogging. Reach down inside yourself and pull out something...y'know, not like...organs. Your friend, Allow me to demonstrate with one of my bogus mathematical theorems. I'm lookin' for some licensees. Whoa! Whoa, look at that title screen! BrothaCheese.</p>
        <p>And uncontrollably grabbing your own butt, I see. Dear Strong Bad, Ah, we sure had some great times Trevor. My mind is going. I can feel it. Ohh, there's two of them! Hey, Coach! Oh, come on Tyler! Just dropping you a line here from 'The Great Mound'. No way do I get this freaking question all the time.</p>
        <p>Probably. Oh man, he likes it! I told that poor sap I'd give him what's for! That's pretty hilarious. Remember, kids! Time to check the email... Now let's go break open that glowstick and pour it into Homestar Runner's Mountain Dew. The Double Deuce! end of line. There was one guy out there doing caricatures, though.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../../assets/headshot.png">
        </div>
        <div class="col-8">
            <p>O-Ohw! RAAAAH!! Horns. I think those things would sell like hotcakes, man. Quizzical The Cheat noise. Er, I think it was like a bird, or maybe a cloud that looked like a bird. Matt, And then I'm like 'And the dragon comes in the NIIIiiiiIIIiiiiIIIIIIIIiiiiiiiiiiiIIIIIIIIiiiIIGGHH—' But I do have a pretty sweet duck pond simulator for my computer.</p>
            <p>I've been synergizing all morning... And if so, are you some kind of robot? Oh, oh! Oh, right, right. Tight pants. Strong Bad! I don't even wanna see 'em. Here I am in Two Cars, Tennessee, and you know what? You buffoon! Oh yeaaah. Little...bad graphics ghost. Pretty great, huh? Hey! Check it out, man.</p>
            <p>I've been synergizing all morning... And if so, are you some kind of robot? Oh, oh! Oh, right, right. Tight pants. Strong Bad! I don't even wanna see 'em. Here I am in Two Cars, Tennessee, and you know what? You buffoon! Oh yeaaah. Little...bad graphics ghost. Pretty great, huh? Hey! Check it out, man.</p>
        </div>
    </div>
</div>